@import "../Variables/variables.scss";

.container-style-hero {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 130px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 15px;

  .hero-section-left {
    font-weight: 600;
  }
  button {
    border: none;
    border-radius: 5px;
    margin: 50px 0px;
    font-weight: bold;
  }
}

.hero-image {
  max-width: 100%;
}
