.category-box-display {
  margin: 10px auto;
  background-color: whitesmoke;
  text-align: center;
  padding: 10px;
  border-radius: 30px;

  .category-image {
    width: 200px;
    object-fit: cover;
    text-align: center;
    border-radius: 30px;
  }
}

.category-display-info-box {
  text-align: center;
  margin: 10px auto;
  display: flex;

  .category-display-info {
    margin-left: 10px;
    small {
      font-weight: 500;
    }
  }
}
