@import "../Variables/variables.scss";
.footer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 130px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 15px;
  .footer-box-social {
    margin-bottom: 20px;
    p {
      font-weight: 500;
    }
    .footer-social {
      display: flex;
      justify-content: space-around;
    }
  }
  .footer-box-discover,
  .footer-box-helpcenter {
    margin-bottom: 20px;
  }
  .subscribe {
    font-weight: 500;

    .subscribe-box {
      margin: 5px auto;
      border: 1px solid $icons-color;
      border-radius: 5px;

      background-color: $icons-color;

      input {
        outline: none;
        border: none;
        color: white;
        background-color: $icons-color;
        display: inline;
      }
    }
    .subscribe-box-send {
      font-size: 30px;
      font-weight: bold;
      color: white;
    }
  }
}
